/*图片1*/
.lunbo {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 10;
}

.game_search {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: #ffffff;
  position: absolute;
  top: 15px;
  left: 5%;
  z-index: 100;
  border: 1px solid #72767b;
}

.game_search input {
  width: 70%;
}

.banner {
  width: 100%;
  height: 220px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.banner_item {
  width: 100%;
  height: 100% !important;
}

.banner_item img {
  height: 100%;
  width: 100%;
}

/* 子导航 */
.subnav {
  width: 100%;
  margin-top: 240px;
  position: relative;
}

.subnav .hot_img {
  text-align: center;
  height: 16px;
  margin-bottom: 2%;
}

.subnav .hot_img img {
  height: 100%;
}

.game_img {
  flex-wrap: wrap;
  margin: 0 4%;
}

.game_pho {
  width: 65px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.game_pho img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin-bottom: 6px;
}

.game_pho span {
  width: 100%;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.float_left {
  float: left;
}
.font_size_14 {
  font-size: 14px;
}
span {
  display: inline-block;
}

.input {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.server {
  width: 80px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  margin: 0 5px;
  cursor: pointer;
}

.selectBlock {
  background: " blue";
  color: "white";
}

.info {
  width: 90%;
  margin: 10px auto;
  height: 40px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fac786),
    to(#f89e51)
  );
  background: linear-gradient(90deg, #fac786, #f89e51);
  border-radius: 6px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.jusc_around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px auto 0;
}
.head p {
  display: inline-block;
  width: 4px;
  height: 10px;
  background: #f6801b;
  border-radius: 5px;
  margin: 5px 5px 5px 0;
}
.button {
  margin: 15px 20px;
  clear: both;
  display: block;
}
.jumbotron-custom {
  background-image: url("../pic/jumbotron.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.test {
  margin: 5px, 5px;
}

.test img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin-bottom: 6px;
  margin-left: 5px;
}
.test span {
  padding: 5px;
  border: 2px dotted black;
  width: 110px;
}
ul li {
  display: inline-block;
}
