/*图片1*/
.lunbo {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 10;
}

.game_search {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: #ffffff;
  position: absolute;
  top: 15px;
  left: 5%;
  z-index: 100;
  border: 1px solid #72767b;
}

.game_search input {
  width: 70%;
}

.banner {
  width: 100%;
  height: 220px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.banner_item {
  width: 100%;
  height: 100% !important;
}

.banner_item img {
  height: 100%;
  width: 100%;
}

/* 子导航 */
.subnav {
  width: 100%;
  margin-top: 240px;
  position: relative;
}

.subnav .hot_img {
  text-align: center;
  height: 16px;
  margin-bottom: 2%;
}

.subnav .hot_img img {
  height: 100%;
}

.game_img {
  flex-wrap: wrap;
  margin: 0 4%;
}

.game_pho {
  width: 65px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  float: left;
}

.game_pho img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin-bottom: 6px;
}

.game_pho span {
  width: 100%;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.float_left {
  float: left;
}
.font_size_14 {
  font-size: 14px;
}
span {
  display: inline-block;
}

.input {
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}
.server {
  width: 80px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  margin: 0 5px;
}

.selectBlock {
  background: " blue";
  color: "white";
}
